<!DOCTYPE html>
<html>
    <div class='header'>
            <h3>About The My Pet Adoption Team</h3>
    </div>
    <body>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut felis urna. Aliquam mattis pharetra metus, ut tempor massa vestibulum in. Mauris iaculis nulla vel purus viverra convallis. Etiam auctor bibendum pharetra. Vivamus feugiat ligula vel libero venenatis feugiat. Morbi a hendrerit metus. Fusce condimentum semper orci, sit amet malesuada nisi faucibus ut. Maecenas ornare porttitor aliquam.
            </p>
            <p>
                Ut vulputate ultricies neque vitae venenatis. Suspendisse non nulla tortor. Nunc risus orci, porttitor ut risus aliquam, hendrerit convallis tortor. Nullam nec dui convallis, egestas turpis a, bibendum velit. Integer efficitur vel sapien id viverra. Donec interdum ipsum suscipit lorem bibendum, id mollis dui luctus. Donec rutrum ullamcorper risus scelerisque placerat. Aenean elementum justo mi. Nam vitae pellentesque odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam eu semper dolor. Duis eget est interdum, imperdiet magna ut, luctus risus. Aliquam euismod neque justo, ut commodo nisi venenatis luctus. Nunc porta ultrices finibus.
            </p>
            <p>
                Fusce leo mi, pharetra eget mauris at, commodo tincidunt neque. Duis eget faucibus felis. Aliquam suscipit pretium dui non laoreet. Nulla facilisi. Etiam cursus elit neque, id pretium nulla suscipit et. Aenean mollis vitae lorem non placerat. Suspendisse ornare mauris sem, scelerisque vestibulum libero condimentum sed. Nam commodo lacus pretium malesuada rutrum. Donec vitae imperdiet est. Cras dignissim dictum sapien bibendum sagittis. Cras dictum arcu quis libero ultrices ornare. Praesent libero est, placerat id auctor vitae, blandit nec mauris. Nam dignissim molestie erat, vel lobortis arcu ornare venenatis. Aenean in pellentesque lorem.
            </p>
            <p>
                Aenean facilisis ac tortor a auctor. Pellentesque laoreet turpis sollicitudin dolor posuere, nec pulvinar odio fringilla. Sed ac eros et leo eleifend venenatis eu eu leo. Duis semper est in massa molestie euismod eu vitae est. In luctus placerat commodo. Aliquam feugiat venenatis felis nec aliquet. Nulla in metus velit. Sed gravida purus vel massa laoreet, ac convallis erat viverra. Sed pharetra dapibus dolor, sed egestas leo commodo eu. Sed in tincidunt massa, ac facilisis sem. Sed nisl quam, molestie imperdiet consequat quis, malesuada vel enim. Donec sit amet elementum velit. Etiam fringilla in orci vitae faucibus. Nulla sed maximus arcu. Aliquam vel consequat est, vel iaculis metus. Aliquam pharetra condimentum ex id lobortis.
            </p>
            <p>
                Donec at dui ipsum. In a tellus eu tortor gravida ornare eu vitae ligula. Sed ut nisl orci. Aenean vestibulum vehicula libero at rutrum. Donec ut nisl at urna rutrum tempor. Sed diam mi, venenatis a risus vel, accumsan semper dui. Suspendisse potenti. Aliquam ac mauris urna. Phasellus fringilla quis est sit amet scelerisque. Suspendisse porta pretium arcu et sagittis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed felis urna, tempus a orci non, imperdiet eleifend erat. Donec imperdiet velit euismod odio efficitur, non pellentesque metus mollis. Duis quis lorem mollis, accumsan arcu et, elementum ligula. Sed luctus urna urna, et efficitur est rhoncus quis.
            </p>
            <img src="https://d17fnq9dkz9hgj.cloudfront.net/uploads/2013/06/147698868-632x353.jpg" style="width:auto">
        </div> 
        <div>
            <nav>
                <a class="btn" routerLink="FAQ" routerLinkActive="active">FAQs</a>
                <a class="btn" routerLink="ContactUs" routerLinkActive="active">Contact Us</a>
            </nav>
        </div>
    </body>


    
</html>