<!DOCTYPE html>
<html>
    <header>
        <h3>Welcome!</h3>
    </header>
 
    <div id="carouselPet" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://www.westend61.de/images/0001507332pw/spotted-horse-trotting-through-tall-green-grassy-field-CAVF91799.jpg" class="d-block w-50" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNXN6iF6MdrYRsqZPQrS3Rs2x9RdWni4Au-Q&usqp=CAU" class="d-block w-50" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg8ZhtfmrVbx04DsjJh7u6k3i7IC954pXxVw&usqp=CAU" class="d-block w-50" alt="...">
          </div>
        </div>
      </div>
      <div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet odio nibh. Donec varius arcu ac fringilla tristique. Nulla molestie lobortis tortor, id facilisis neque pulvinar vel. Phasellus blandit efficitur lectus. Ut tristique nisi eu felis tempor aliquam. Maecenas tortor purus, varius a orci at, consectetur feugiat ex. Sed at blandit nisl, venenatis placerat ligula. Pellentesque in odio nisl. Donec ligula lorem, sagittis a lacinia a, placerat in sem. Donec egestas convallis justo, sit amet euismod augue molestie eu.</p>

           <p> Vestibulum fringilla urna arcu, ac suscipit justo tincidunt id. In dapibus tristique malesuada. Cras condimentum ullamcorper eleifend. Sed nulla enim, cursus eget tristique in, mattis sit amet nisi. Donec nec placerat ligula. Donec nec tristique est, nec faucibus tellus. Maecenas sem metus, tincidunt ut nisl nec, bibendum scelerisque leo. Cras ac lectus vitae justo tempus laoreet sed nec mi. Aenean feugiat ligula nec massa fermentum, sed hendrerit justo lacinia. Cras et nisi a urna interdum placerat vel vitae tortor.</p>
            
            <p>Sed aliquam felis in nunc feugiat, maximus vehicula mauris maximus. Fusce non augue tellus. Donec est dolor, porttitor rutrum quam eu, ornare fringilla dui. Praesent eleifend facilisis congue. Proin sit amet lacinia ligula, vitae vehicula elit. Curabitur dictum felis felis, in tincidunt metus gravida eu. Mauris mattis ligula vitae cursus rutrum. Quisque quis lacus risus. Sed consectetur vitae lacus eu volutpat. Sed egestas nisi ultrices, cursus ligula ut, pharetra felis. Vivamus a ultricies tellus. Maecenas lobortis euismod felis, sed fermentum mi venenatis sed. Vestibulum quis dolor sodales, accumsan orci id, cursus orci. Curabitur non lacus id lacus tempor dignissim varius placerat enim. Fusce sed lectus sed ipsum volutpat euismod eu at diam</p>
      </div>


   