
html {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBRCwC6G1QCrIcEdjXLBXwSjNnS-KzEOnWDQ&usqp=CAU');
}
.card {
    border: none;
    width: 500px;
    padding: 40px;
    position:fixed;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(153, 122, 19);
    background: linear-gradient(90deg, rgba(238, 184, 8, 0.774) 0%, rgb(226, 191, 77) 100%);
}

.card h1, h4 {
    color: white;
}

label {
    color: white;
    font-size: larger;
}

.form-text {
    color: white;
    font-size: medium;
}